# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/
data/raw/*
data/processed/*
!data/raw/*.dvc
!data/processed/*.dvc

# DVC
.dvc/cache
.dvc/tmp

# OS files
.DS_Store
Thumbs.db
